body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(122, 198, 233)
    
}
h1 {
    font-size: 11rem; /* 設定字級大小 */
    color:white;
    font-family:Brush Script MT;

} 
div{
    transform:translateY(-250%);
    font-size: 1.9rem; /* 設定字級大小 */
    font-family:Brush Script MT;
    color:white;
} 

